<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Education</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel = "icon" href =  "assets/images/ylogo.png" type = "image/x-icon"> 


	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"
		rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">



	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>

	<style>


.fa {
  /* padding: 20px; */
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  /* margin: 5px 2px; */
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  /* padding-left: 10px; */
  text-align: center;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-whatsapp{
background: green;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

		.col-md-5 {
  /* background-color: white; */
  background: transparent;
  max-height: 400px;
  overflow: scroll;
}
.tooltip {
  background-color: lightgreen;
  opacity: 0.8;
  color: black;
  /* padding: 16px 20px; */
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 150px;
  /* right: 28px; */
  /* width: 280px; */
}

.tooltip2 {
  background-color: lightgreen;
  opacity: 0.8;
  color: black;
  /* padding: 16px 20px; */
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 115px;
  /* right: 28px; */
  /* width: 280px; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.dropbtn {
  /* background-color: #4CAF50; */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: gainsboro;}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */



	</style>






</head>

<body>
	<!--navbar top starts-->

	<div id="page">
		<nav class="fh5co-nav" role="navigation">
			<div class="top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-right">

							
							<div class="col-md-4">
							
								<div class="dropdown">
									<button class="btn21 btn btn-danger">Contact Us</button>
									<div class="dropdown-content">
										<a href="#demo" onclick="myFunction()"></i><i class="fa fa-envelope"></i>LEAVE US A MESSAGE  </a>
										<a href="tel:+918618630980" ><i class="fa fa-phone"></i>+918618630980</a>
									<a href="#">Business Opportunity</a>
									<a href="#">Career opportunity</a>
									
									</div>
								  </div>
							
							
							</div>
							<!--=========================================
							
							script for leave a message display and close
							
							===============================================-->
							
							<script>
								function myFunction() {
									var x = document.getElementById("contact");
									if (x.style.display === "none") {
										x.style.display = "block";
									} else {
										x.style.display = "none";
									}
								}
							</script>

<script>
	function Function() {
		var x = document.getElementById("contact");
		if (x.style.display === "block") {
			x.style.display = "none";
		} else {
			x.style.display = "none";
		}
	}
</script>
<!--script ends-->
						<!--=======================================================
						
						
						removal of social icons and moved them to the footer

						addition of schlorship test button

						css changes:-
						.log {
  						  float: right;
 							 }
						media screen{
							.log {
    							float: left;
  								}
						}
						============================================================-->

							<ul class="log col-md-4" >
								<!--<li >
									
									 <a href="#" class="twitter"><i class="fa fa-twitter" ></i></a> 
									<a href="https://www.facebook.com/yantro.mitra.5/" ><i class="fa fa-facebook"></i></a>
									<a href="https://api.whatsapp.com/send?phone=+918618630980" ><i class="fa fa-whatsapp"></i></a>
									<a href="https://www.linkedin.com/company/yantromitra" class="linkedin"><i class="fa fa-linkedin"></i></a>
								
								</li>-->
							
									   
									<li><a href="#"><button id="myBtn"class="btn btn-danger">Login</button></a></li>
                                       
                                            
                                             
                                           
										
						
						


							<!-- <p class="site">www.xyx.@.in</p> -->
							<!--=====================================================================
								
								changes made here 
								changes in class
								no css change here
							
							========================================================================-->

							<!--=========================================
							
							script for leave a message display and close
							
							===============================================-->
							
						                   
										
									
							<div id="loginbox" style="max-height: 310px;z-index: 9999;position:fixed;top:10%;right: 10%;display: none;background-color: white;padding: 20px;border-radius: 4px;">
								
								<form action="/login" method="POST">
								  <div class="form-group">
									<label for="Deligate Name1">Username<span>  </span></label>
									<span id="cl" style="float: right;color: black; cursor: pointer;"><i class="icofont-remove">X</i></span>
									<input type="email" class="form-control" id="Deligate Name1" name="username" placeholder="Email" required>
								  </div>
								  <div class="form-group">
									<label for="Deligate Name2">Password</label>
									<input type="password" class="form-control" id="Deligate Name2" name="password" placeholder="password" required>
								  </div>
								  
							  
								  <button type="submit" class="btn btn-warning" style="color:white;">LogIn</button>
								</form>
								<br>
								<h6>Forgot Password? <a href="/forgot">Click Here</a></h6>
								<h6>Don't have an account? <a href="/register">Register Here</a></h6>
							  </div>
						</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="top-menu col-lg-12" style="background-color: orange; height: 70px;">
				<div class="container" id="hop">
					<a  href="/"><img id="log" src="images/logoc.png" /></a>
					<div class="row">
						
						<div class="col-xs-3">
							<!-- <img src="images/logo.png" width="60px" height="60px" style="float:left" /> -->
							<div id="fh5co-logo" >
								
								<a href="/" style="margin-top:-20%" >YantroMitra</a>
							</div>
						</div>
						<!--==========================================================
							chanegs made in css

							.fh5co-nav ul li a {
 								 font-size: 14px;
 								 padding: 10px 5px;
 								 color: rgba(0, 0, 0, 0.9);
 								 -webkit-transition: 0.5s;
 								 -o-transition: 0.5s;
 								 transition: 0.5s;
								}
						reduced the padding
						
						
						==============================================================-->
						<div class="col-lg-8 text-right menu-1" style="float: right;">
							<ul>
								<!-- <li><a href="/">Home</a></li> -->
								
								<li><a href="about_us" style="font-size: 15px;"><b>ABOUT US</b></a></li>
								<li><a href="/team" style="font-size: 15px;"><b>TEAM</b></a></li>
								<li><a href="#" style="font-size: 15px;"><b>OUR BLOGS</b></a></li>
								
		  <!--====================================================================================================
		
		
		
		
		changed the color to red f0r admin page admon dashboard and student dashboard
		
		#id1
		
		
		
		---================================================================================================-->
        
          
  

            
        
              
                <li><a href="/register" style="font-size: 15px;"><b>GET REGISTERED</b></a></li>
                

	<li><a href="#fh5co-course-categories" style="font-size: 15px;"><b>COURSES</b></a></li>
	<li><a href="#" style="font-size: 15px;"><b>SCHOLARSHIP</b></a></li>
</ul>






						</div>
					</div>
					<!-- <div class="row">
						<div class="col-xs-2">
							<div id="fh5co-logo"><a href="index.html"><img src="images/logo.png" width="60px"
										height="60px"></i>YantroMitra<span></span></a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/login">About Us</a></li>
								<li><a href="#fh5co-blog">Team</a></li>
								<li><a href="course_for_u">Course For You</a></li>
								<li><a href="#fh5co-course-categories">Our Courses</a></li>
							</ul>





						
					</div>
				</div> -->

			</div>
	</div>
	</nav>
	<!--exp-->
	
	</div>
	<!--ends-->







	<!-- /.navbar -->
	<!--new navbar ends-->
	<!--slider1 starts-->
	<!--=============================================================================
	 
		added a video instead of banners
		
		css tag
		video{}
	
	===================================================================================-->
	<div >
		
				<!--<li>
					<video>
						<source src="images/video1.mp4" type="video/mp4">
					</video>
					<div class="overlay-gradient"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center slider-text">
								<div class="slider-text-inner">
									 <h1>WELCOME TO YANTROMITRA</h1>
									<h2>We are an Ed tech and online coaching firm offering best online course and
										classes
										for various exams like Bank,CMAT, etc.</h2> 
									
								</div>
							</div>
						</div>
					</div>
				</li>-->
				<!--changes start here-->

				<!--=========================================================
					
					video added
					css changes
					video{
 						 width:100%;
 						 height:auto;
 
  
					}
				
				
				=========================================================-->
				<div class="row">

					
					<div class="col-lg-6">
					<video autoplay loop controls style="width: 100%;">
						<source src="images/vid.mp4" type="video/mp4">
						<!-- <video src="images/vid.mp4"></video> -->
                        
					  </video>
					</div>
					<!--=============================================
					
						information panel moved here
						
					
					
					================================================-->
					<div class="col-lg-4" id="note">
						<div id="fh5co-noti" style="width:100%;margin-left: -25px;">
							<div class="container">
								<div class="row animate-box">
									
					
									<div class="notification col-md-4 " style="border: 1px solid black;height:80%;background-color: white; height:370px ;">
					
					
										<div class="section-title">
					
											<h2 align="center">Notification</h2>
											<hr style="width:8%;opacity:0.95;">
										</div>
					
										<!-- <div class="row" style="border: 2px solid rgba(0,0, 0, 0.3); margin: 0 auto;display: flex;overflow-y: auto;overflow-x: hidden;"> -->
										<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 1.5%;margin-left: 1.5%;">
											<h5 style="color: #083f88;"> <i class="fa fa-newspaper"
													style="color: #083f88;font-weight: 700;"></i><strong> Notification/News</strong> </h5>
											<hr style="">
											<%not.forEach(function(not){%>
											<a href="<%=not.link%>" style="text-decoration: none;color: black;">
												<h6><i class="fa fa-bell" style="color: darkred;"></i> <%=not.message%></h6>
											</a>
											<% if(currentUser && (currentUser.isAdmin == true)){%>
											<form style="display: inline" action="/not/<%= not._id%>?_method=DELETE" method="POST">
												<button class="btn btn-sm btn-danger">
													Delete
												</button>
											</form>
											<%}%>
												<hr style="border-top: 1px dashed rgba(0,0, 0, 0.2);">
												<%})%>
										</div>
										<!-- </div> -->
					
					
					
										<!-- </div> -->
									</div>
					
									<!--send message starts-->
									<!-- <div class="col-md-6" style="border: 1px solid black;">
										<br> -->
					
								</div>
								<!--============================================
								
								notification panel ends
								===============================================-->



								<!--================================================
								
								ask us panel starts. shows on clicking leave a message
								
								===================================================-->
								<div id="contact" class="col-md-6" style="border: 1px solid black; width: auto; top: 0%; left:-10%;        position:absolute;z-index:99999;display:none;background-color: white;">
									<div class="section-title">
										<h2 align="center" id="demo">Ask us to Contact You <a href="#" id="close" onclick="myFunction()" style="float: right;"><u>Close</u></a></h2>
										<p align="center">Ping us for demo class link/any query</p>
										<!-- <hr style="width:8%;opacity:0.95;"> -->
									</div>
									<form action="/contactus" method="POST" role="form" class="php-email-form">
										<div class="form-row">
											<div class="col-lg-6 form-group">
												<input type="text" name="name" class="form-control" id="name"
													placeholder="Your Name" data-rule="minlen:4"
													data-msg="Please enter at least 4 chars" />
												<div class="validate"></div>
											</div>
											<div class="col-lg-6 form-group">
												<input type="email" class="form-control" name="email" id="email"
													placeholder="Your Email" data-rule="email"
													data-msg="Please enter a valid email" />
												<div class="validate"></div>
											</div>
										</div>
										<div class="form-group">
											<input type="text" class="form-control" name="subject" id="subject"
												placeholder="Subject" data-rule="minlen:4"
												data-msg="Please enter at least 8 chars of subject" />
											<div class="validate"></div>
										</div>
										<div class="form-group">
											<input type="number" class="form-control" name="phone" id="phone"
												placeholder="Phone number" data-rule="minlen:4" />
											<div class="validate"></div>
										</div>
										<div class="form-group">
											<textarea class="form-control" name="message" rows="5" data-rule="required"
												data-msg="Please write something for us" placeholder="Message"></textarea>
											<div class="validate"></div>
										</div>
										<!-- <div class="mb-3">
												<div class="loading">Loading</div>
												<div class="error-message"></div>
												<div class="sent-message">Your message has been sent. Thank you!</div>
											  </div> -->
										<div class="text-center"><button type="submit">Send Message</button></div>
									</form>
								</div>
								<!--===================================
								ends here
								
								=====================================-->
	
	
	
	
	
	
		</div>
	
	
	

							</div>
						
						
					</div>
					
					<!--=====================================
					
					advertisment box starts here
					css
					.noti2{
 
  							border: 1px solid black;
 							 height: 345px;
 							 overflow: auto;
							}
					media css{
						.noti2{
  							  margin-top: 12px;
   							 width: 92%;
   							 margin-left: 16px;
 								 }
					}		
					 link to different course to be given here
					========================================-->
					<div id="note2">
					<div class="noti2 col-lg-2">
						<div>
							<p style="text-align: center;color: red;font-weight: bolder;">yantromitra courses</p>
							
						</div>
						<div>
							<p><a href="#" style="color: blue;font-weight: bold;">TAKE A SCHOLARSHIP TEST<hr style="border: 2px solid black;margin-top: -10px;"></a></p>
						</div>

						<div>
							<p><a href="go_to_bank" style="color: blue;font-weight: bold;">Bank Courses<hr style="border: 2px solid black;margin-top: -10px;"></a></p>
						</div>
						<div>
							<p><a href="go_to_crt" style="color: blue;font-weight: bold;">CRT Courses<hr style="border: 2px solid black;margin-top: -10px;"></a></p>
						</div>
						<div>
							<p><a href="go_to_nimcet" style="color: blue;font-weight: bold;">NIMCET Courses<hr style="border: 2px solid black;margin-top: -10px;"></a></p>
						</div>
						<div>
							<p><a href="course_for_u" style="color: blue;font-weight: bold;">KG to 12th Coaching<hr style="border: 2px solid black;margin-top: -10px;"></a></p>
						</div>
						<div>
							<p><a href="go_to_steam" style="color: blue;font-weight: bold;">STEAM Courses<hr style="border: 2px solid black;margin-top: -10px;"></a></p>
						</div>
					</div>
				</div>
					</div>
					
			
				<!--<li style="background-image: url(images/cat.jpeg);">
					<div class="overlay-gradient"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center slider-text">
								<div class="slider-text-inner">
									 <h1>We Help You to Learn New Things</h1>
									<h2>This is the new way of learning</h2> 
									
									</p>
								</div>
							</div>
						</div>
					</div>
				</li>-->
			
		
	</div>
					
	<!--<button class="tooltip" ><b>CONTACT US</b><span class="tooltiptext">+91 8618630980<p>Info@yantromitra.in</p></span></button>
	<br/>
	<button class="tooltip2" ><a href="#demo"><b>DEMO CLASS</b></a><span class="tooltiptext"></span></button>-->
	<!--slider1 ends-->
	<!--categories-->
	<div id="fh5co-course-categories">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Course categories</h2>
								</div>
			</div>
			<div style="background-color:whitesmoke;margin-top: -6%;" class="row">
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<div class="services">
						
						<span class="icon">
							<i class="fa fa-calculator"></i>
						</span>
						<div class="desc">
							<div class="dropdown">
							<h3><a  class="dropbtn" style="font-weight: bold;">Entrance Exams Coaching</a></h3>
							<!--===================================================
							dropdown color change

							css changes
							.dropdown-content {
 										 display: none;
 										 position: absolute;
 										 background-color: whitesmoke;
 										 min-width: 160px;
 										 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 										 z-index: 1;
												}

							.dropdown-content a:hover {background-color: gainsboro;}
							
							==========================================================-->
							<div align="center" class="dropdown-content">
								<a href="/go_to_clat">CLAT</a>
								<a href="/go_to_cmat">CMAT</a>
								<a href="/go_to_bank">BANK</a>
								<a href="/go_to_crt">CRT</a>
								<a href="/go_to_nimcet">NIMCET</a>
							</div>
							<p style="color: black;font-weight: 600;">Competitive exams in India have moved a long way. They vary from exam to exam, state to state, and course to course. Hence a student requires a well-coordinated Training and Testing Methods to gain proficiency in time management and problem solving. We, at YantroMitra, leverage technology to merge best practices like use of videos, engaging content and quizzes with the best teachers so that every student across the India has access to the best learning experiences.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<div class="services">
						
						<span class="icon">
							<i class="fa fa-book"></i>
						</span>
						<div class="desc">
							<h3><a href="/course_for_u" style="font-weight: bold;">KG to 12th Coaching</a></h3>
							<p style="color: black;font-weight: 600;">The most happening and imbibing years of life are KG to 12th. Developing conceptual understanding and helping a child to visualize the concept is a unique task that a Teacher and a Mentor have to go through. We, at YantroMitra, take special care in making concepts which are easy to understand and provide a great learning experience.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-thermometer-empty"></i>
						</span>
						<div class="desc">
							<h3><a href="/go_to_steam" style="font-weight: bold;">STEAM Education</a></h3>
							<p style="color: black;font-weight: 600;">Classroom Education has changed a lot from just a teaching approach to activity oriented interactive and group learning. YantroMitra has the experience (can be replaced with : experiences) in training thousands of kids in this age group. From Pottery to Pulping, from Drones to 3D Printing, from Robots to Cars, we have a complete curriculum to help your child’s growth.</p>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
	<!--====================================================
	removed the information panel from here
	
	======================================================-->
	<!--categories ends-->
	<!--<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>INFORMATION Panel</h2>
					<p style="color: black;font-weight: bold;">All you need to know</p>
				</div>

				<div class="col-md-5" style="border: 1px solid black;height:80%;background-color: white;">
					

						<div class="section-title" >
						  
						  <h2 align="center">Notification</h2>
						  <hr style="width:8%;opacity:0.95;">
						</div>
					 
						 <div class="row" style="border: 2px solid rgba(0,0, 0, 0.3); margin: 0 auto;display: flex;overflow-y: auto;overflow-x: hidden;"> -->
						  <!--<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top: 1.5%;margin-left: 1.5%;">
						   <h5 style="color: #083f88;"> <i class="fa fa-newspaper" style="color: #083f88;font-weight: 700;"></i><strong> Notification/News</strong> </h5>
						   <hr style="">
						   <%not.forEach(function(not){%>
							<a href="<%=not.link%>" style="text-decoration: none;color: black;"><h6><i class="fa fa-bell" style="color: darkred;"></i> <%=not.message%></h6></a>
							<% if(currentUser && (currentUser.isAdmin == true)){%>
							<form  style="display: inline" action="/not/<%= not._id%>?_method=DELETE" method="POST">
							  <button class="btn btn-sm btn-danger">
								Delete
							  </button>
							</form>
							<%}%>
							<hr style="border-top: 1px dashed rgba(0,0, 0, 0.2);">
							<%})%>
						</div>
						</div> -->
							
							  
					  
					  <!-- </div> -->
				<!--</div>
<div class="col-md-2"></div>-->
				<!--send message starts-->
				<!-- <div class="col-md-6" style="border: 1px solid black;">
					<br> -->
					<!--<br>
					<br>
					<br>
					<div class="col-md-5" style="border: 1px solid black;background-color: white;">
						<div class="section-title">
							<h2 align="center" id="demo">Ask us to Contact You</h2>
							<p align="center">Ping us for demo class link/any query</p>
							 <hr style="width:8%;opacity:0.95;"> -->
						  <!--</div>
						<form action="/contactus" method="POST" role="form" class="php-email-form">
						  <div class="form-row">
							<div class="col-lg-6 form-group">
							  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
							  <div class="validate"></div>
							</div>
							<div class="col-lg-6 form-group">
							  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
							  <div class="validate"></div>
							</div>
						  </div>
						  <div class="form-group">
							<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
							<div class="validate"></div>
						  </div>
						  <div class="form-group">
							<input type="number" class="form-control" name="phone" id="phone" placeholder="Phone number" data-rule="minlen:4"  />
							<div class="validate"></div>
						  </div>
						  <div class="form-group">
							<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
							<div class="validate"></div>
						  </div>
						   <div class="mb-3">
							<div class="loading">Loading</div>
							<div class="error-message"></div>
							<div class="sent-message">Your message has been sent. Thank you!</div>
						  </div> -->
						  <!--<div class="text-center"><button type="submit">Send Message</button></div>
						</form>
					  </div>
			
				</div>
			</div>
		</div>
	</div>-->
	<!--our courses starts-->
	<div id="fh5co-course">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our Top Most Courses</h2>
					<p style="color: black;font-weight: bold;">We provide the best for the best from the best</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img"
							style="background-image: url(images/course1.png);background-size: 100%;padding-bottom: 0;">
						</a>
						<div class="desc">
							<h3><a href="/go_to_bank">Bank Exams</a></h3>
							<p>Bank exams are often considered in high regard for aspiring candidates who wish to step into the banking domain. 
								There are multiple bank exams which are conducted by various banks every year.</p>
							<span><a href="/go_to_bank" class="btn btn-primary btn-sm btn-course">Take A TOUR</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img"
							style="background-image: url(images/course2.png);background-size: 100%;">
						</a>
						<div class="desc">
							<h3><a href="/go_to_crt">Campus Recruitment Training</a></h3>
							<p>CRT is a comprehensive program designed to train students for all the stages of the campus recruitment process done at various colleges including engineering, Bsc and other related colleges.</p>
							<span><a href="/go_to_crt" class="btn btn-primary btn-sm btn-course">Take A TOUR</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img"
							style="background-image: url(images/course3.png);background-size: 100%;">
						</a>
						<div class="desc">
							<h3><a href="/go_to_cmat">MBA Entrance</a></h3>
							<p>MBA Entrance Exams commonly test students' skills in areas such as Quantitative Aptitude, Reasoning Aptitude, Verbal Ability and General Awareness. YantroMitra prepares students to learn the Concepts and Short Cuts for solving problems in various areas in Time-bound manner through its Video lectures, Doubt Clearing Live CLasses, Sectional Tests and Test Series.</p>
							<span><a href="/go_to_cmat" class="btn btn-primary btn-sm btn-course">Take A TOUR</a></span>
						</div>
					</div>
				</div>
				<div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img"
							style="background-image: url(images/course4.png);background-size: 100%;">
						</a>
						<div class="desc">
							<h3><a href="/go_to_clat">LAW ENTRANCE</a></h3>
							<p>The Common Law Admission Test (CLAT) is a national level entrance exam for admissions to candidates in undergraduate (UG) and postgraduate (PG) law courses offered at 22 NLUs and other colleges/ universities accepting exam scores.</p>
							<span><a href="/go_to_clat" class="btn btn-primary btn-sm btn-course">Take A TOUR</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--our courses ends-->

	<!-- <div id="fh5co-testimonial" style="background-image: url(images/school.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2><span>Testimonials</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<div class="user" style="background-image: url(images/person1.jpg);"></div>
									<span>Mary Walker<br><small>Students</small></span>
									<blockquote>
										<p>&ldquo;Far far away, behind the word mountains, far from the countries
											Vokalia and Consonantia, there live the blind texts. Separated they live
											in Bookmarksgrove right at the coast of the Semantics, a large language
											ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<div class="user" style="background-image: url(images/person2.jpg);"></div>
									<span>Mike Smith<br><small>Students</small></span>
									<blockquote>
										<p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the
											Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<div class="user" style="background-image: url(images/person3.jpg);"></div>
									<span>Rita Jones<br><small>Teacher</small></span>
									<blockquote>
										<p>&ldquo;Far from the countries Vokalia and Consonantia, there live the
											blind texts. Separated they live in Bookmarksgrove right at the coast of
											the Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!--our courese ends-->
	<!--founder words-->
	<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box text-center">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>From Our Founders</h2>
					<p style="color: black;font-weight: bold;">Some words of wisdom</p>
				</div>
			</div>
			<div style="background-color: whitesmoke;"class="row row-padded-mb">
				<div class="col-md-4 animate-box">
					<div>
						<!--========================================================================
						
							changed the margin-left in purushottam m kulkarni and image
						
						==============================================================================-->
						<img class="img" src="images/f1.jpg" style="width:100px;height:100px;margin-left: 39%;" alt="image">
							<h3><a href="#" style="margin-left: 13%;">Purushottam m Kulkarni</a></h3>
						

						<p style="color: black;">Education has moved from theoretical to interactive to collaborative. YantroMitra focuses on Learning through Experimentation.</p>
						<p><a href="#"></a></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="fh5co-event">
						<div><img class="img" src="images/f2.jpeg" style="width:100px;height:100px;margin-left: 10%;" alt="image">
							<h3 style="margin-left: 2%;"><a href="#">Dr. MN Kulkarni</a></h3>
						</div>

						<p style="color: black;">YantroMitra focuses on empowering students using technology as a platform. We are here to connect the best teachers to every student.
							Creativity leads to out of the box thinking, and further to innovation. Hence there can be innovation only when there is freedom to be flexible.
						</p>
						<p><a href="#"></a></p>
					</div>
				</div>
				<div class="col-md-4 animate-box">
					<div class="fh5co-event">
						<div><img class="img" src="images/aloki.jpg" style="width:100px;height:100px;margin-left: 2%;" alt="image">
							<h3><a href="#">Mrs.Alokika Singh</a></h3>
						</div>

						<p style="color: black;">Age group of 3 to 10 years is the most formative age segment. Positive reinforcement works the best for the child's overall development. And we at YantroMitra do the same with new DIY experiments.</p>
						<p><a href="#"></a></p>
					</div>
				</div>
			</div>
			<!--founer words ends-->

			<!--gallery-->
			<div id="fh5co-gallery" class="fh5co-bg-section">
				<div class="row text-center">
					<h2><span>STEAM EDUCATION</span></h2>
				</div>
				<div class="row">
					<div class="col-md-3 col-padded">
						<a href="#" class="gallery" style="background-image: url(images/g1.jpeg);"></a>
					</div>
					<div class="col-md-3 col-padded">
						<a href="#" class="gallery" style="background-image: url(images/g2.jpeg);"></a>
					</div>
					<div class="col-md-3 col-padded">
						<a href="#" class="gallery" style="background-image: url(images/g3.jpeg);"></a>
					</div>
					<div class="col-md-3 col-padded">
						<a href="#" class="gallery" style="background-image: url(images/g4.jpeg);"></a>
					</div>
				</div>
			</div>
		</div>
		<!--ends-->
		<br>
		<br>




		<!-- ends--> 
		<!--take 3-->
		
		</div>
	</div>
	<!--send message ends-->
	

	<!--take 3 ends-->
	<br>
	<br>
	<footer class="col-xs-12" id="fh5co-footer" role="contentinfo" style="background-image: url(images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row row-pb-md">

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
					<h3>Courses</h3>
					<ul class="fh5co-footer-links">
						<li><a href="#">CBSE</a></li>
						<li><a href="#">LAW ENTRANCE</a></li>
						<li><a href="#">MCA – MBA ENTRANCE</a></li>
						<li><a href="#">BANK EXAMS</a></li>
						<li><a href="#">CRT</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
					<h3>Exams</h3>
					<ul class="fh5co-footer-links">
						<li><a href="#">BANK</a></li>
						<li><a href="#">CLAT</a></li>
						<li><a href="#">CRT</a></li>
						<li><a href="#">CMAT</a></li>
						<li><a href="#">NIMCET</a></li>

					</ul>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
					<h3>Exams Preparation</h3>
					<ul class="fh5co-footer-links">
						<li><a href="#">Video Lectures</a></li>
						<li><a href="#">Live Online Classes</a></li>
						<li><a href="#">Test Papers</a></li>
						<li><a href="#">LIVE Test Analysis Classes </a></li>

					</ul>
				</div>

				

				<div class="col-md-3 fh5co-widget" style="margin-right:0">

				</div>
				<div class="col-md-3 fh5co-widget">
					<h3>Address</h3>
					<p><i class="fa fa-address-book-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;
						Ameya, 29/2A, 3rd Phase, Nanjappa Layout</p>
					<ul class="fh5co-footer-links">
						<li><i class="fa fa-anchor"></i>&nbsp;&nbsp;&nbsp;&nbsp;Bangalore India
						</li>
						<li><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;+91 8618630980</li>
						
						<li><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;info@yantromitra.in</li>

					</ul>


				</div>
				<div class="col-xs-12">
					<h1>DISCLAIMER:</h1>
					<p>
						The information contained in this website is for general information purpose only. The information is the production of(produced by) YantroMitra Learning Technologies Pvt Ltd. The updating of information is done from time to time. We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
					</p>
					<p>
						In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arise out of, or in connection with, the use of this website.
					</p>
					<p>
						Through this website you are able to link to other websites which are not under the control of YantroMitra Learning Technologies Pvt Ltd. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
					</p>
					<p>
						Every effort is made to keep the website up and running smoothly. However, Yantromitra Learning Technologies Pvt Ltd takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.
					</p>
				</div>

				<div class="col-xs-12">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="navbar-header">

							</div>
							<ul class="nav navbar-nav">
								<!-- <li><a href="#"><i class="fa fa-address-book-o"></i></a></li> -->
								<li><a href="Info@yantromitra.in"><i class="fa fa-envelope"></i></a></li>
					<!--======================================================================================
					
					Added the social icons here
					
					
					=============================================================================================-->			
					<li><a href="https://www.facebook.com/yantro.mitra.5/"><i class="fa fa-facebook"></i></a></li>
								
								<li><a href="https://api.whatsapp.com/send?phone=+918618630980" ><i class="fa fa-whatsapp"></i></a></li>
								<li><a href="https://www.linkedin.com/company/yantromitra" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
								<!-- <li><a href="#"><i class="fa fa-github"></i></a></li> -->
								<li><a href="/policy">PRIVACY POLICY</a></li>
								<li><a href="/term_of_use">TERMS OF USE</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#"><span></span>© Copyright YantroMitra. All Rights Reserved</a></li>

							</ul>
						</div>
					</nav>
				</div>



			</div>
	</footer>


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Count Down -->
	<script src="js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	<script>
		var d = new Date(new Date().getTime() + 1000 * 120 * 120 * 2000);

		// default example
		simplyCountdown('.simply-countdown-one', {
			year: d.getFullYear(),
			month: d.getMonth() + 1,
			day: d.getDate()
		});

		//jQuery example
		$('#simply-countdown-losange').simplyCountdown({
			year: d.getFullYear(),
			month: d.getMonth() + 1,
			day: d.getDate(),
			enableUtc: false
		});

		jQuery(document).ready(function($){
	$('.x-nav-wrap.mobile a').on('touchstart', function(e) {
		$('.x-nav-wrap.mobile').click();
	});
});

	




		// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
myBtn.onclick = function() {
	alert("LOGIN WITH YOUR GOOGLE EMAIL ID USED IN YOUTUBE");
  loginbox.style.display = "block";
}
cl.onclick=function(){
	loginbox.style.display = "none";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

// Get the modal
var modal = document.getElementById('myModal');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

	</script>
</body>

</html>
